<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gialen.tools.dao.repository.customer.extend.UserExtendMapper">

	<!--	统计vip,店主用户新增数量-->
    <select id="countUserType" resultType="com.gialen.tools.dao.dto.UserDataDto">
	SELECT
		date_format(l.update_time, '%Y%m%d') AS countTime,
		count(
			CASE
			WHEN l.level_type = '2' THEN
				1
			ELSE
				NULL
			END
		) AS storeNum,
		count(
			CASE
			WHEN l.level_type = '1' THEN
				1
			ELSE
				NULL
			END
		) AS vipNum
	FROM
		user_level as l
	left join user as u on u.id = l.user_id
	WHERE
		(	l.update_time BETWEEN #{startTime,jdbcType=VARCHAR} and #{endTime,jdbcType=VARCHAR}
			OR l.update_time BETWEEN #{relativeStartTime,jdbcType=VARCHAR} and #{relativeEndTime,jdbcType=VARCHAR}
		)
	AND u.is_delete = 0
	GROUP BY
		date_format(l.update_time, '%Y%m%d')
	ORDER BY
		date_format(l.update_time, '%Y%m%d') DESC;
  </select>
</mapper>